<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @source.description %><br />
  <b>Crafting allowed:</b>
  <%= @source.crafting_allowed%>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
