<h1>Listing toons</h1>

<table width="1336">
  <tr align="left">
    <th>Name</th>
    <th colspan="3" align="center">Actions</th>
  </tr>

<% @toons.each do |toon| 
	isNewRow(toon)
%>
  <tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
    <td><%= toon.name %></td>
    <td><%= link_to 'Show', toon %></td>
    <td><%= link_to 'Edit', edit_toon_path(toon) %></td>
    <td><%= link_to 'Destroy', toon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toon', new_toon_path %>
