<h1>Listing listing_statuses</h1>

<table width="1336">
	<tr align="left">
		<th>Description</th>
		<th>Position</th>
		<th>Is final</th>
		<th colspan="3" align="center">Actions</th>
	</tr>

	<% @listing_statuses.each do |listing_status|
	isNewRow(listing_status.id)
	%>
	<tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
		<td><%= listing_status.description %></td>
		<td><%= listing_status.position %></td>
		<td><%= listing_status.is_final %></td>
		<td><%= link_to 'Show', listing_status %></td>
		<td><%= link_to 'Edit', edit_listing_status_path(listing_status) %></td>
		<td><%= link_to 'Destroy', listing_status, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Listing status', new_listing_status_path %>
