<p>
<!-- Admin actions -->
<% if is_admin? %>
<%= link_to "Manage Items", items_path %> :: 
<%= link_to "Manage Crafted Items", crafted_items_path %> :: 
<%= link_to "Manage Listing Statuses", listing_statuses_path %> ::
<%= link_to "Manage Sources", sources_path %> ::
<%= link_to "Manage Competitor Styles", competitor_styles_path %> ::
<%= link_to "Manage Users", users_path %> ::
<%= link_to "Manage Account Creation Code", creation_codes_path %>
<% get_cache_stats %>
<table>
  <tr>
    <th>Metric</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Cache hits:</td>
    <td><%= @stats['get_hits'] %></td>
  </tr>
  <tr>
    <td>Cache misses:</td>
    <td><%= @stats['get_misses'] %></td>
  </tr>
  <tr>
    <td>Cache flushes:</td>
    <td><%= @stats['cmd_flush'] %></td>
  </tr>
  <tr>
  	<th colspan="2">Usage:</th>
  </tr>
  <tr>
  	<td colspan="2"><%= format("%.2f",(@stats["mem_used"].to_f / @stats["limit_maxbytes"].to_f)*100) %> % used</td>
  </tr>
</table> 
<% end %>
</p>