<p>
<!-- Admin actions -->
<% if is_admin? %>
<%= link_to "Manage Items", items_path %> :: 
<%= link_to "Manage Crafted Items", crafted_items_path %> :: 
<%= link_to "Manage Listing Statuses", listing_statuses_path %> ::
<%= link_to "Manage Sources", sources_path %> ::
<%= link_to "Manage Competitor Styles", competitor_styles_path %> ::
<%= link_to "Manage Users", users_path %> ::
<%= link_to "Manage Account Creation Code", creation_codes_path %>
<% end %>
</p>