<!-- User's actions -->
<% if signed_in? %>
<%= link_to "Sales Listings" , sales_listings_path %> ::
<%= link_to "Items to Craft" , page_items_to_craft_path %> ::
<%= link_to "Items sitting in Bank" , page_items_to_list_from_bank_path %> ::
<%= link_to "Items with many listings" , page_items_with_more_than_one_listings_path %> ::
<%= link_to "Old listings" , page_old_listings_path %> ::
<%= link_to "Profit per day" , page_profit_per_day_path %> ::
<%= link_to "Manage Competitors", competitors_path %> ::
<%= link_to "Tutorial", "/documents/Rift-ah_tutorial.docx" %> ::
<%= link_to "Sign out (#{current_user.name})", signout_path, :method => :delete %>
<% else %>
<%= link_to "Sign in", signin_path %>
<% end %>
<p>
<!-- Admin actions -->
<% if is_admin? %>
<%= link_to "Manage Items", items_path %> :: 
<%= link_to "Manage Crafted Items", crafted_items_path %> :: 
<%= link_to "Manage Listing Statuses", listing_statuses_path %> ::
<%= link_to "Manage Sources", sources_path %> ::
<%= link_to "Manage Competitor Styles", competitor_styles_path %> ::
<%= link_to "Manage Users", users_path %>
<% end %>
</p>


