<%= link_to "Process all Expired Auctions", parsed_auctions_batch_expire_path,  confirm: 'Are you sure you want to process all these auctions?', method: :get %>
<br />
<br />
<table "item_list">
	<tr>
		<th>Item name</th>
		<th>Sales_listing_id</th>
		<th></th>
	</tr>
	<% @parsed_auctions.each do |parsed_auction| %>
	<tr id="parsed_auction_<%= parsed_auction[:id] %>">
		<td><%= parsed_auction.item_name %></td>
		<td><%= link_to parsed_auction.sales_listing_id, edit_sales_listing_path(parsed_auction.sales_listing_id) %></td>
		<td><%= link_to 'Destroy', parsed_auction,  confirm: 'Are you sure?', method: :delete %></td>
	</tr>
	<% end %>
</table>