<h1>Items to Craft</h1>
<%= form_tag request.path, :method => 'get' do %>
<%=
 if params[:param] != nil then
	hidden_field_tag :param, params[:param]
  end
%>
<%= content_tag :label do %>
Search term:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag :search %>
<br />
<% end %>
<% end %>
<%
@source_list.each do |source|
%>
<%= link_to source.description, page_items_to_craft_path+"?param="+source.description %> ::
<% end %>
<%= link_to "All professions", page_items_to_craft_path %>
<%= if @had_to_limit == true then
	raw("<p><i>Results limited to 50 in order to avoid timeouts, consider using the search</i></p>")
end
	 %>
<table>
	<tr align="left" bgcolor="#c3c3c3">
		<th>Item name</th>
		<th>Source</th>
		<th>Competition Level</th>
		<th>Taint Level</th>
		<th>Sales Chance %</th>
		<th>Average Profit</th>
		<th></th>
	</tr>
	<%
	@out_of_stock_list.each do |item|
	isNewRow(item)
	%>
	<tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
		<td><%= "#{getItemDescription(item)}"%></td>
		<td style='padding-right:20px;'><%= "#{getSourceDescriptionForItemsToCraft(item)}"%></td>
		<td style='padding-right:20px;'><%= competitionLevel(item) %></td>
		<td style='padding-right:20px;'><%= taintLevel(item) %></td>
		<td><%= sales_percentage_overall(item) %></td>
		<td style='padding-right:20px;' align="right"><%= average_profit(item) %></td>
		<td> <%= if params[:param] != nil then
        if params[:search] == nil then
          link_to 'Crafted', crafted_sales_listing_path(item)+"?param="+params[:param], :confirm => "Are you sure you want to craft #{getItemDescription(item)}?"
        else
          link_to 'Crafted', crafted_sales_listing_path(item)+"?param="+params[:param]+"&search="+params[:search], :confirm => "Are you sure you want to craft #{getItemDescription(item)}?"
        end
      else
        if params[:search] == nil then
          link_to 'Crafted', crafted_sales_listing_path(item), :confirm => "Are you sure you want to craft #{getItemDescription(item)}?"
        else
          link_to 'Crafted', crafted_sales_listing_path(item)+"?search="+params[:search], :confirm => "Are you sure you want to craft #{getItemDescription(item)}?"
        end
      end %> </td>
	</tr>
	<% end %>
</table>
