<h1>Items with more than one listings</h1>
<table>
	<tr align="left" bgcolor="#c3c3c3">
		<th>Item name</th>
		<th>ID</th>
		<th>Source</th>
		<th>Crafting Cost</th>
	</tr>
	<%
	@duplicate_listing.each do |item|
	isNewRow(item)
	%>
	<tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
		<td style='padding-right:20px;'><%= "#{getItemDescription(item)}"%></td>
		<td style='padding-right:20px;'><%= "#{item}" %></td>
		<td style='padding-right:20px;'><%= "#{getSourceDescriptionForItemsToCraft(item)}"%></td>
		<td style='padding-right:20px;'><%= "#{formatPrice(calculateCraftingCost(item))}"%></td>
	</tr>
	<% end %>
</table>