<h1>Listing creation_codes</h1>

<table>
  <tr align="left">
    <th>Creation code</th>
    <th>Used</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creation_codes.each do |creation_code| %>
  <tr>
    <td style="padding-right: 20px;"><%= creation_code.creation_code %></td>
    <td style="padding-right: 20px;"><%= creation_code.used %></td>
    <td><%= link_to 'Show', creation_code %></td>
    <td><%= link_to 'Edit', edit_creation_code_path(creation_code) %></td>
    <td><%= link_to 'Destroy', creation_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creation code', new_creation_code_path %>
