<h1>Listing creation_codes</h1>

<table width="1336">
  <tr align="left">
    <th>Creation code</th>
    <th>Used</th>
    <th align="center" colspan="3">Actions</th>
  </tr>

<% @creation_codes.each do |creation_code| 
	isNewRow(creation_code.id)
%>
  <tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
    <td style="padding-right: 20px;"><%= creation_code.creation_code %></td>
    <td style="padding-right: 20px;"><%= creation_code.used %></td>
    <td><%= link_to 'Show', creation_code %></td>
    <td><%= link_to 'Edit', edit_creation_code_path(creation_code) %></td>
    <td><%= link_to 'Destroy', creation_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creation code', new_creation_code_path %>
