<%= form_for(@competitor_style) do |f| %>
  <% if @competitor_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor_style.errors.count, "error") %> prohibited this competitor_style from being saved:</h2>

      <ul>
      <% @competitor_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
