<h1>Listing competitor_styles</h1>
<table>
	<tr align="left">
		<th>Description</th>
		<th align="center" colspan="3">Actions</th>
		
	</tr>

	<% @competitor_styles.each do |competitor_style|
	isNewRow(competitor_style.id)
	%>
	<tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
		<td><%= competitor_style.description %></td>
		<td><%= link_to 'Show', competitor_style %></td>
		<td><%= link_to 'Edit', edit_competitor_style_path(competitor_style) %></td>
		<td><%= link_to 'Destroy', competitor_style, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Competitor style', new_competitor_style_path %>
