<%= form_for(@competitor) do |f| %>
<% if @competitor.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>
	<ul>
		<% @competitor.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<table>
	<tr align="left">
		<th><%= f.label :name %></th>
		<th><%= f.label :competitor_style %></th>
		<th><%= f.label :source_id %></th>
		<th></th>
	</tr>
	<tr>
		<td><%= f.text_field :name %></td>
		<td><%= f.collection_select(:competitor_style_id, CompetitorStyle.find(:all, :select => 'id, description'), :id, :description)%></td>
		<td><%= f.collection_select(:source_id, Source.find(:all, :select => 'id, description'), :id, :description)%></td>
		<td>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.submit %>
		</td>
	</tr>
</table>
<% end %> 