<h1>Listing competitors</h1>
<p>
	<section>
		<% flash.each do |key, value| %>
		<div class="flash <%= key %>">
			<%= value %>
		</div>
		<% end %>
	</section>
</p>
<%= will_paginate @competitors%>
<table>
	<tr align="left">
		<th>Name</th>
		<th>Competitor style</th>
		<th>Source</th>
		<th colspan="3" align="center">Actions</th>
	</tr>

	<% @competitors.each do |competitor|
	isNewRow(competitor.name)
	%>
	<tr bgcolor="<%= @lastRowColor %>"  onmouseover="this.className = 'hlt';" onmouseout="this.className = '';" style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left">
		<td><%=
 if @isNewRow then
        competitor.name
      end
%></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= getCompetitorStyleDescription(competitor.competitor_style_id) %></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= getSourceDescription(competitor.source_id) %></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= link_to 'Show', competitor %></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= link_to 'Destroy', competitor, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Competitor', new_competitor_path %>
