<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competitor.name %>
</p>

<p>
  <b>Competitor style:</b>
  <%= @competitor.competitor_style_id %>
</p>

<p>
  <b>Source:</b>
  <%= @competitor.source_id %>
</p>


<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
<%= link_to 'Back', competitors_path %>
