<%= form_for(@item) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

	<ul>
		<% @item.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_field :description %>
</div>
<div class="field">
	<%= f.label :vendor_selling_price %>
	<br />
	<%= f.text_field :vendor_selling_price %>
</div>
<div class="field">
	<%= f.label :vendor_buying_price %>
	<br />
	<%= f.text_field :vendor_buying_price %>
</div>
<div class="field">
	<%= f.label :source %>
	<br />
	<%= f.select(:source_id, options_from_collection_for_select(@source, :id, :description, @item.source_id))%>
</div>
<div class="field">
	<%= f.label :is_crafted %>
	<br />
	<%= f.check_box :is_crafted %>
</div>
<div class="field">
	<%= f.label :to_list %>
	<br />
	<%= f.check_box :to_list %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
