<h1>Listing items</h1>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Search term:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag :search %>
<% end %>
<% end %>
<%= will_paginate @items %>
<table width="1336">
	<tr align="left">
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Description</th>
		<th align="right">Sells from vendor for</th>
		<th align="right">Vendor buys for</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Source</th>
		<th>Rarity</th>
		<th colspan="2" align="center">Only active listing</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" colspan="3" align="center">Actions</th>
	</tr>
	<% @items.each do |item|
	isNewRow(item.id)
	%>
	<tr bgcolor="<%= @lastRowColor %>" onmouseover="this.className = 'hlt';" onmouseout="this.className = '';">
		<td><%= link_to("#{item.description}", "http://rift.zam.com/en/item/#{item.itemkey}/") %></td>
		<td align="right"><%= formatPrice(item.vendor_selling_price) %></td>
		<td align="right"><%= formatPrice(item.vendor_buying_price) %></td>
		<td><%= item.source_id!=nil ? getSourceDescription(item.source_id): item.source_id %></td>
		<td><%= item.rarity %></td>
		<td><% if get_single_auction_id(item.id) then %><%= link_to 'Expired', expired_sales_listing_path(get_single_auction_id(item.id)), :confirm => "Are you sure to list #{getItemDescription(item.id)} as (Expired)?" %> <% end %></td>
		<td><% if get_single_auction_id(item.id) then %><%= link_to 'Sold', sold_sales_listing_path(get_single_auction_id(item.id)), :confirm => "Are you sure to list #{getItemDescription(item.id)} as (Sold)?" %> <% end %></td>
		<td><%= link_to 'Show', item %></td>
		<td><%= link_to 'Edit', edit_item_path(item) %></td>
		<td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Item', new_item_path %> 