<h1>Listing items</h1>
<% form_tag request.path, :method => 'get' do %>
<% content_tag :label do %>
Search term:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag :search %>
<% end %>
<% end %>
<%= will_paginate @items %>
<table>
	<tr>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left">Description</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">ID</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Sells from vendor for</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Vendor buys for</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Source</th>
		<th colspan="2" style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;">Only active listing</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;"></th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;"></th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;"></th>
	</tr>
	<% @items.each do |item|
	isNewRow(item.id)
	%>
	<tr bgcolor="<%= @lastRowColor %>">
		<td><%= item.description %></td>
		<td><%= item.id %></td>
		<td><%= formatPrice(item.vendor_selling_price) %></td>
		<td><%= formatPrice(item.vendor_buying_price) %></td>
		<td><%= getSourceDescription(item.source_id) %></td>
		<td><% if get_single_auction_id(item.id) then %><%= link_to 'Expired', expired_sales_listing_path(get_single_auction_id(item.id)), :confirm => "Are you sure to list #{getItemDescription(item.id)} as (Expired)?" %> <% end %></td>
		<td><% if get_single_auction_id(item.id) then %><%= link_to 'Sold', sold_sales_listing_path(get_single_auction_id(item.id)), :confirm => "Are you sure to list #{getItemDescription(item.id)} as (Sold)?" %> <% end %></td>
		<td><%= link_to 'Show', item %></td>
		<td><%= link_to 'Edit', edit_item_path(item) %></td>
		<td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Item', new_item_path %> 