<h1>Listing crafted_items</h1>
<% form_tag request.path, :method => 'get' do %>
<% content_tag :label do %>
Search term:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag :search %>
<% end %>
<% end %>
<%= will_paginate @crafted_items %>
<table>
	<tr>
		<th>Crafted item generated</th>
		<th>Crafted item stacksize</th>
		<th>Component item</th>
		<th>Component item quantity</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @crafted_items.each do |crafted_item|
	isNewRow(crafted_item.crafted_item_generated_id)
	%>
	<tr bgcolor="<%= @lastRowColor %>">
		<td><%=
 if @isNewRow then
        getItemDescription(crafted_item.crafted_item_generated_id)
      end
%></td>
		<td><%= if @isNewRow then crafted_item.crafted_item_stacksize end %></td>
		<td><%= getItemDescription(crafted_item.component_item_id) %></td>
		<td><%= crafted_item.component_item_quantity %></td>
		<td><%= link_to 'Show', crafted_item %></td>
		<td><%= link_to 'Edit', edit_crafted_item_path(crafted_item) %></td>
		<td><%= link_to 'Destroy', crafted_item, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Crafted item', new_crafted_item_path %> 