<%= form_for(@sales_listing) do |f| %>
<% if @sales_listing.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@sales_listing.errors.count, "error") %> prohibited this sales_listing from being saved:</h2>

	<ul>
		<% @sales_listing.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :item_id %>
	<br />
	<%= f.select(:item_id, options_from_collection_for_select(@items, :id, :description, getDefaultItemSelected),{},
    {:onchange => remote_function(:method=>:get)}) %>
	<div class="field">
		<%= f.label :stacksize %>
		<br />
		<%= f.text_field :stacksize, :value => getDefaultStacksize %>
	</div>
	<div class="field">
		<%= f.label :price %>
		<br />
		<%= f.text_field :price, :value => getDefaultPricing %>
		<%= if (getDefaultPricing != nil) then
        "(#{formatPrice(getDefaultPricing)})"
      end
%>
	</div>
	<div class="field">
		<%= f.label :is_undercut_price %>
		<br />
		<%= f.check_box :is_undercut_price %>
	</div>
	<div class="field">
		<%= f.label :deposit_cost %>
		<br />
		<%= f.text_field :deposit_cost, :value => getDepositCost %>
		<%= "(#{formatPrice(getDepositCost)})" %>
	</div>
	<div class="field">
		<%= f.label :listing_status_id %>
		<br />
		<%= f.select(:listing_status_id, options_from_collection_for_select(@listing_statuses, :id, :description, getDefaultStatus)) %>
	</div>
	<div class="field">
		<br />
		<%= f.hidden_field(:user_id, :value => current_user.id) %>
	</div>
	<p>
		<b>Last sales price:</b>
		<% lastSalesPrice_without_listed(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])  %>
		<% if @lastSalesPrice_without_listed != nil then %>
		<%= formatPrice(@lastSalesPrice_without_listed.price)%> (is undercut : <%= @lastSalesPrice_without_listed.is_undercut_price%>)
		<% end %>
	</p>
	<p>
		<b>Average sales price:</b>
		<%= formatPrice(averageSalesPrice(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id]))%>
	</p>
	<p>
		<b>Sales percentage at full price :</b> <%= sales_percentage_full_price(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])%>%
	</p>
	<p>
		<b>Sales percentage when undercutting :</b> <%= sales_percentage_undercut(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])%>%
	</p>
	<p>
		<b>Sales percentage Overall :</b> <%= sales_percentage_overall(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])%>%
	</p>
	<p>
	<b>Last listings :</b><p style='padding-left:20px;padding-top:-20px;'>
	<%= raw(lastListings(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id]))%>
	</p>
	<p>
		<b>Crafting Cost :</b> <%= formatPrice(calculateCraftingCost(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])) %>
	</p>
	<p>
		<b>Minimum sales price:</b> <%= formatPrice(minimum_sales_price(params[:item_id]==nil ? @sales_listing.item_id : params[:item_id])) %>
	</p>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
