<h1>Listing sales_listings</h1>
<%= form_for :search, @search, :html => {:method => :get} do |f| %>
    <%= f.label :item_id %>
    <%= f.text_field :item_id %><br />
    <%= f.submit %>
  <% end %>
<div>
	<p>
		<%
		@status_list.each do |status|
		%>
		<%= link_to "#{status.description} Sales Listings", sales_listings_path+"?status=#{status.id}" %> ::
		<%
		end
		%>
		<%= link_to "ALL Sales Listings", sales_listings_path %>
	</p>
</div>
<%= will_paginate @sales_listings %>
<table>
	<tr>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left">Item</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left">Stacksize</th>
		<th style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;" align="right">Price</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;" align="left">Is Undercut price</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="right">Deposit cost</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left">Listing status</th>
		<th style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;" align="right">Crafting Cost</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;" align="right">Profit</th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;" align="left"></th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;" align="left"></th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"></th>
		<th style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"></th>
	</tr>
	
	<% @sales_listings.each do |sales_listing|
	isNewRow(sales_listing.id)
	%>
	<tr bgcolor="<%= @lastRowColor %>">
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="left"><%= link_to getItemDescription(sales_listing.item_id), edit_sales_listing_path(sales_listing) %></td>
		<td><%= sales_listing.stacksize %></td>
		<td align="right"><%= formatPrice(sales_listing.price) %></td>
		<td style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:20px;" align="left"><%= sales_listing.is_undercut_price %></td>
		<td style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:0px;" align="right"><%= formatPrice(sales_listing.deposit_cost) %></td>
		<td><%= getListingStatusDescription(sales_listing.listing_status_id) %></td>
		<td align="right"><%= formatPrice(calculateCraftingCost(sales_listing.item_id)) %></td>
		<td align="right" style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;" align="right"><%= formatPrice(calculateProfit(sales_listing.id)) %></td>
		<td><%= link_to 'Sold', sold_sales_listing_path(sales_listing), :confirm => 'Are you sure (Sold)?' %></td>
		<td><%= link_to 'Expired', expired_sales_listing_path(sales_listing), :confirm => 'Are you sure (Expired)?' %></td>
		<td><%= link_to 'Show', sales_listing %></td>
		<td><%= link_to 'Destroy', sales_listing, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Sales listing', new_sales_listing_path %>
